$easeOutSine: cubic-bezier(.61, 1, .88, 1);
$easeInOutBack: cubic-bezier(0.68, -0.6, 0.32, 1.6);

.page-header__menu a {
  transition: color .3s ease;

  &:not(.active) {
    &::after {
      display: block;
      width: 0;
      left: auto;
      right: 0;
      transition: width .3s ease;
      background-color: $c-purple;
    }

    &:hover::after {
      width: 100%;
      left: 0;
      right: auto;
    }
  }

  &.active {
    cursor: default;
    &:hover {
      color: $c-light;
    }

    &::after {
      width: 0;
      transition: width .5s ease .3s;
      background-color: $c-light;
    }
  }
}

.social-block {
  .social-block__list li {
    opacity: 0;
    transform: translateY(5px);

    .social-block__link {
      transition: color .3s ease;
    }
  }

  &--active {
    .social-block__list li {
      opacity: 1;
      transform: translateY(0);

      &:first-child {
        transition: transform .3s ease 0s, opacity .4s ease-out 0s;
      }
      &:nth-child(2) {
        transition: transform .3s ease .2s, opacity .4s ease-out .2s;
      }
      &:last-child {
        transition: transform .3s ease .4s, opacity .4s ease-out .4s;
      }
    }
  }
}

.swiper-slide  {
  .slider__item-text {
    opacity: 0;
    visibility: hidden;
    transform: translateX(10%);
    transition: opacity 1.5s ease, transform 1s ease;
    transition-delay: 0s;
  }

  &-next {
    .slider__item-text {
      transition-delay: .3s;
    }
  }

  &-prev {
    .slider__item-text {
      transition-duration: 0s;
      transition-delay: 0s;
    }
  }

  &-next,
  &-active {
    .slider__item-text {
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
    }
  }

  &-prev {
    opacity: 0;
    transform: translateX(50%);
    visibility: hidden;
  }
}

@keyframes growTextField {
  from { width: 0; }
  to { width: calc(100% - 21rem) }
}

.form {
  justify-content: flex-end;
}

.form__button {
  max-width: calc(100% - (100% - 21rem + 3rem));
}

.form__field {
  animation: growTextField .5s ease-out;
}

.intro__message {
  opacity: 0;
  transform: translateY(3rem);
  transition: all .4s ease-out .8s;
}

.page-header__logo {
  transform: translateX(-3rem);
  opacity: 0;
  transition: all .5s $easeOutSine;
}

.page-header__nav {
  opacity: 0;
  transition: all .5s $easeOutSine .3s;
}

.social-block__toggler::before {
  width: 0;
  height: 0;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: width .8s $easeInOutBack, height .8s $easeInOutBack, opacity .8s linear, transform .1s linear;
}

.screen__footer {
  transform: translateY(10rem);
  transition: all .5s $easeOutSine;
}

body.loaded  {
  .page-header__menu a.active::after {
    width: 100%;
  }

  .intro__message {
    transform: translateY(0);
    opacity: 1;
  }

  .page-header__nav {
    opacity: 1;
  }

  .page-header__logo {
    transform: translateX(0);
    opacity: 1;
  }

  .social-block__toggler::before {
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  .social-block__toggler {
    &:hover {
      &::before {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
  }

  .screen__footer {
    transform: translateY(0);
  }
}

.filler {
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  background-color: $c-dark;
  position: fixed;
  bottom: 0;
  z-index: 1;
  transform: translateY(100%);

  &.active {
    animation: fillerAnimation 1s ease;
    animation-fill-mode: none;
  }
}

@keyframes fillerAnimation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.rules__item::before {
  transition: all .5s linear 1s;
}

@keyframes prizesCircles {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes prizesText {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.screen--rules.active {
  .rules__item {
    &::before {
      animation: prizesCircles .3s linear;
      animation-fill-mode: backwards;
    }
    p {
      animation: prizesText .3s linear;
      animation-fill-mode: backwards;
    }
    &:first-child {
      &:before,
      p {
        animation-delay: .2s;
      }
    }
    &:nth-child(2) {
      &:before,
      p {
        animation-delay: .4s;
      }
    }
    &:nth-child(3) {
      &:before,
      p {
        animation-delay: .6s;
      }
    }
    &:nth-child(4) {
      &:before,
      p {
        animation-delay: .8s;
      }
    }
  }
}

.rules__link {
  opacity: 0;
  font-size: 0;
  color: $c-transparent;
  transition: opacity .3s linear, font-size .3s linear .2s, color .3s linear .4s;

  &.appear {
    opacity: 1;
    font-size: 2.4rem;
    color: $c-dark;
  }
}

.intro__date {
  line-height: 1;
}

.intro__date,
.rules__title,
.intro__title {
  overflow: hidden;
}

.intro__title {
  padding-top: 22px;
}

.text__word {
  display: inline-block;
  white-space: nowrap;
}

.text__word > span {
  transform: translate3d(0, 1.9em, 0);
  display: inline-block;
}

.intro__label.appear,
.intro__date.active,
.intro__title.active,
.rules__title.active {
  opacity: 1;
}

.intro__label,
.intro__date,
.intro__title,
.rules__title {
  opacity: 0;
}

.intro__date.active .text__word > span,
.intro__title.active .text__word > span,
.rules__title.active .text__word > span {
  transform: translate3d(0, 0, 0);
}

.intro__label {
  transition: opacity .3s ease-out .7s;
}

.slider__pagination {
  animation: sliderPagination .5s ease-out .7s both;
}

.slider__control {
  &:first-child {
    animation: sliderControlRight .5s ease-out .7s both;
  }
  &:last-child {
    animation: sliderControlLeft .5s ease-out .7s both;
  }
}

@keyframes sliderPagination{
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes sliderControlRight {
  from {
    transform: translateX(-40px) rotate(-360deg);
    opacity: 0;
  }
  to {
    transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}

@keyframes sliderControlLeft {
  from {
    transform: translateX(40px) rotate(360deg);
    opacity: 0;
  }
  to {
    transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}
